name: Template Build Deploy Local

on:
  workflow_call:
    inputs:
      component-name:
        description: 'Nombre del componente'
        required: true
        type: string
        default: 'api-employee-devops'
      project-type:
        description: 'Tipo de proyecto'
        required: true
        type: string
        default: 'maven'
      java-version:
        description: 'Versión de Java'
        required: true
        type: string
        default: '17'
      app-port:
        description: 'Puerto de la aplicación Spring Boot'
        required: true
        type: string
        default: '8081'
      base-url:
        description: 'URL base para las pruebas de integración'
        required: true
        type: string
        default: 'http://localhost:8081'
      postman-collection:
        description: 'Ruta a la colección Postman'
        required: true
        type: string
        default: './_postman/API_EMPLOYEE_DEVOPS.postman_collection.json'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      COMPONENT: ${{ inputs.component-name }}
    outputs:
      APP_VERSION: ${{ steps.vars.outputs.APP_VERSION }}
      JAR_NAME: ${{ steps.vars.outputs.JAR_NAME }}
      JAR_PATH: ${{ steps.vars.outputs.JAR_PATH }}  # Bonus: ruta completa
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
          cache: ${{ inputs.project-type }}

      - name: Variables
        id: vars
        run: |
          APP_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          JAR_NAME="${{ env.COMPONENT }}-${APP_VERSION}.jar"
          JAR_PATH="target/${JAR_NAME}"

          # Escribir outputs del step (para usar en outputs del job)
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_OUTPUT
          echo "JAR_NAME=$JAR_NAME" >> $GITHUB_OUTPUT
          echo "JAR_PATH=$JAR_PATH" >> $GITHUB_OUTPUT
          
          echo "Versión: $APP_VERSION | Repo: ${{ env.COMPONENT }} | JAR: $JAR_NAME | JAR_PATH: $JAR_PATH"

      - name: Build con Maven
        run: mvn -B clean package -DskipTests

      - name: Subir JAR como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.vars.outputs.JAR_NAME }}
          path: ${{ steps.vars.outputs.JAR_PATH }}
          retention-days: 1
          if-no-files-found: error

  integration-test:
    needs: build-and-test
    runs-on: ubuntu-latest
    env:
      COMPONENT: ${{ inputs.component-name }}
      APP_VERSION: ${{ needs.build-and-test.outputs.APP_VERSION }}
      JAR_NAME: ${{ needs.build-and-test.outputs.JAR_NAME }}
      APP_PORT: ${{ inputs.app-port }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.JAR_NAME }}

      - name: Mover JAR a target/
        run: |
          mkdir -p target
          mv ${{ env.JAR_NAME }} target/

      - name: Build Docker image (local)
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          push: false
          tags: |
            ${{ env.COMPONENT }}:${{ env.APP_VERSION }}

      - name: Run container
        run: docker run -d --name test-app -p ${{ env.APP_PORT }}:${{ env.APP_PORT }} ${{ env.COMPONENT }}:${{ env.APP_VERSION }}

      - name: Wait for health
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 2
          max_attempts: 10
          retry_wait_seconds: 6
          command: curl -f ${{ inputs.base-url }}/api/v1/employees/actuator/health

      - name: Instalar Newman
        run: npm install -g newman

      - name: Ejecutar pruebas Postman
        run: newman run ${{ inputs.postman-collection }} --env-var baseUrl=${{ inputs.base-url }}