name: Workflow Local Java CI

# Esto hace que sea reutilizable
on:
  workflow_call:
    inputs:
      java-version:
        description: 'Versi贸n de Java'
        required: false
        type: string
        default: '17'
      maven-goal:
        description: 'Goal de Maven (ej: package, verify)'
        required: false
        type: string
        default: 'package'
      run-tests:
        description: 'Ejecutar pruebas unitarias'
        required: false
        type: boolean
        default: true
      app-port:
        description: 'Puerto de la aplicaci贸n Spring Boot'
        required: false
        type: string
        default: '8081'
      postman-collection:
        description: 'Ruta a la colecci贸n Postman'
        required: false
        type: string
        default: './_postman/API_EMPLOYEE_DEVOPS.postman_collection.json'
    secrets:
      GHCR_TOKEN:
        description: 'Token para push a GHCR'
        required: false

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    outputs:
      REPO_NAME: ${{ steps.version.outputs.REPO_NAME }}
      VERSION: ${{ steps.version.outputs.VERSION }}
      JAR_NAME: ${{ steps.version.outputs.JAR_NAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
          cache: maven

      - name: Variables
        id: vars
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          REPO_NAME=${{ github.event.repository.name }}
          JAR_NAME="$REPO_NAME-$VERSION.jar"

          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "REPO_NAME=$REPO_NAME" >> $GITHUB_OUTPUT
          echo "JAR_NAME=$JAR_NAME" >> $GITHUB_OUTPUT
          
          echo "Versi贸n: $VERSION | Repo: $REPO_NAME | JAR: $JAR_NAME"

      - name: Build con Maven
        run: |
          if ${{ inputs.run-tests }}; then
            mvn -B clean ${{ inputs.maven-goal }}
          else
            mvn -B clean ${{ inputs.maven-goal }} -DskipTests
          fi

      - name: Subir JAR como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.version.outputs.JAR_NAME }}
          path: target/${{ steps.version.outputs.JAR_NAME }}
          retention-days: 1

  integration-test:
    needs: build-and-test
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.build-and-test.outputs.VERSION }}
      JAR_NAME: ${{ needs.build-and-test.outputs.JAR_NAME }}
      APP_PORT: ${{ inputs.app-port }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image (local)
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          push: false
          tags: ${{ env.REPO_NAME }}:${{ env.VERSION }}

      - name: Run container
        run: docker run -d --name test-app -p ${{ env.APP_PORT }}:${{ env.APP_PORT }} ${{ env.IMAGE_NAME }}:${{ env.VERSION }}

      - name: Wait for health
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 2
          max_attempts: 10
          retry_wait_seconds: 6
          command: curl -f ${{ inputs.base-url }}/api/v1/employees/actuator/health

      - name: Instalar Newman
        run: npm install -g newman

      - name: Ejecutar pruebas Postman
        run: newman run ${{ inputs.postman-collection }} --env-var baseUrl=${{ inputs.base-url }}